@import "_colors";

$border-radius: 4px;
$button-padding: 15px;
$background-color: $white;
$border-color: $gray-cc;
$color: $gray-40;

.btn {
  color: $color;
  outline:0;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $background-color;
  transition: background-color 0.3s ease;
  padding: $button-padding;
  &:hover {
    background-color: darken($background-color, 10);
  }
}
