@import "_variables";
@import "_colors";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: 1;
  border-top: 1px solid $gray-cc;

  p {
    margin: 0;
    color: $gray-99;
  }
}
